{% extends "base.html" %}

{% block 'title' %}Listagem de Livros{% endblock 'title' %}

{% block 'content' %}
<div class="container">
    <h2>Livros de {{usuario}}</h2>
    <hr>
    <div class="row">
        {% for livro in livros %}
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{livro}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{livro.autor}}</h6>
                      {{livro.categoria}}
                      <br>
                      {% if livro.emprestado %}
                        <svg style="color:green;"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                        </svg> 
                        <h6 style="display:inline;"class="card-subtitle mb-2 text-muted">Emprestado</h6>
                      {% else %}
                        <svg style="color:red;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                        <h6 style="display:inline;"class="card-subtitle mb-2 text-muted">Não Emprestado</h6>
                      {% endif %}
                      <br>
                      <br>
                      <a href="#" class="btn btn-info">Acessar</a>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <a class="btn btn-success"href="{% url "logout" %}">Logout</a>
</div>
{% endblock 'content' %}

