{% extends "base.html" %}

{% block 'title' %}Listagem de Livros{% endblock 'title' %}

{% block 'content' %}
{% for livro in livros %}
  {% if livro.dono_livro_cadastrado != livro.usuario %}
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel3">Devolver Livro?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Você tem certeza de que deseja devolver este livro?
          </div>
          <div class="modal-footer">
            <div class="container">  
              <h6 class="modal-title" id="exampleModalLabel3">Avalie o Livro:</h6>
              <form action="{% url "devolver_livro" livro.id %}" method="post">
                {% csrf_token %}
                <table class="as_table">
                  <select name="avaliacao" id="avaliacao" class="form-control">
                    <option value="">Não avaliar</option>
                    {% for choice in avaliacao_choices %}
                    <option value="{{choice.0}}">{{choice.1}}</option>
                    {% endfor %}
                  </select>
                </table>
              </div>
            </div>
            <div class="modal-footer">
              <input type="submit" value="Sim" class="btn btn-success">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
<div class="container">
    <h2>Livros de {{usuario}}</h2>
    <hr>
    {% if request.GET.cl == 'success' %}
      <div class="alert alert-success">
        Livro Cadastrado com Sucesso
      </div>
    {% elif request.GET.cl == 'fail' %}
      <div class="alert alert-warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
        Não é possível cadastrar um Livro na conta de outro usuario!
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
      </div>
    {% elif request.GET.cc == 'success' %}
      <div class="alert alert-success">
        Categoria Cadastrada com Sucesso
      </div>
    {% elif request.GET.cc == 'fail' %}
      <div class="alert alert-warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
        Não é possível cadastrar uma Categoria na conta de outro usuario!
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
      </div>
    {% elif request.GET.dados == 'invalidos' %}
      <div class="alert alert-danger">
        Dados Inválidos!
      </div>
    {% elif request.GET.l == 'deleted' %}
      <div class="alert alert-danger">
        Livro Deletado!
      </div>
    {% elif request.GET.l == 'deleted_fail' %}
      <div class="alert alert-warning">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
        Você não pode deletar um livro que não é seu!
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
      </div>
    {% elif request.GET.l == 'd' %}
      <div class="alert alert-info">
        Livro Devolvido!
      </div>
    {% elif request.GET.e == 'success' %}
      <div class="alert alert-success">
        Emprestimo realizado com Sucesso!
      </div>
    {% endif %}
    <div class="row">
        {% for livro in livros %}
            <div class="col-md">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{livro}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{livro.autor}}</h6>
                      {{livro.categoria}}
                      <br>
                      {% if livro.emprestado %}
                        <svg style="color:green;"xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                        </svg> 
                        <h6 style="display:inline;"class="card-subtitle mb-2 text-muted">Emprestado</h6>
                      {% else %}
                        <svg style="color:red;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                        </svg>
                        <h6 style="display:inline;"class="card-subtitle mb-2 text-muted">Não Emprestado</h6>
                      {% endif %}
                      <br>
                      <br>
                      <a href="{% url 'ver_livro' livro.id %}" class="btn btn-info">Editar</a>
                      {% if livro.usuario != livro.dono_livro_cadastrado %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
                          Devolver
                        </button>
                      {% endif %}
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
    <br>
</div>
{% endblock 'content' %}

